/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-background);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

header {
  display: block;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.attention .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.attention .attention-text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list .items {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features-list .items::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--secondary-background);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.features-list.items:nth-child(1)::before {
  background-image: url(../images/icons/antenna.svg);
}

.features-list .items:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}

.features-list .items:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}

.features-list .items:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}

.features-list .items:nth-child(4) {
  margin-right: 0;
}

.features-list .title {
  color: var(--secondary-black-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.features-list p,
.team-list p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-field {
  position: relative;
  margin-bottom: 30px;
}

.label-checkbox {
  display: inline-block;
  padding-right: 11px;
  padding-left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-style: Roboto san-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

.label-checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox::after {
  width: 16px;
  height: 15px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: 50% 50%;
  border-radius: 2px;
}

.checkbox:focus ~ .label-checkbox::after {
  border-color: var(--accent-color);
}

.check-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.button-send {
  text-align: center;
}

.hero-button {
  padding-right: 56px;
  padding-left: 56px;
}

.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.clients-list > .clients-item {
  width: 170px;
  height: 90px;
}

.clients-list > .clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-links:hover, .clients-links:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clients-icon {
  fill: currentColor;
}

.clients-icon:hover, .clients-icon:focus {
  color: var(--accent-color);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.info .info-item:not(:last-child) {
  margin-right: 30px;
}

.info.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.adress-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  fill: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.adress-link-icon {
  margin-right: 10px;
}

.adress-link-icon:hover, .adress-link-icon:focus {
  fill: #2196f3;
}

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav .link.current::after {
  position: absolute;
  bottom: 0px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.engage {
  padding-top: 0px;
  /* outline: 2px solid tomato;*/
}

.engage .container {
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 94px;*/
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.engage-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.engage-work {
  position: relative;
}

.engage-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.engage-overlay .title {
  margin: 0;
  padding: 27px 0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.engage-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.engage-picture .engage-item {
  width: calc 13.33333%;
  margin-right: 30px;
}

.engage-picture .engage-item:nth-child(3n) {
  margin-right: 0;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--header-footer-background);
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-address > .logo {
  margin-bottom: 20px;
}

.footer-address > .address {
  margin-bottom: 9px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}

.footer-item > .contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
}

.footer .contact .logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.logo-text {
  color: var(--border-header);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: solid 2px #ff0000;*/
}

.border-header {
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /*outline: 2px solid tomato;*/
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header-footer-background);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 696px;
}

.hero .hero-title {
  margin-top: 0;
  padding-bottom: 30px;
  color: var(--primary-background);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  color: var(--primary-background);
  background-color: var(--accent-color);
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.hero-button:hover, .hero-button:focus {
  background: #188ce8;
}

.page-header-logo {
  display: block;
  margin: 0;
  padding-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: #2196f3;
}

.logotip {
  color: var(--primary-text-color);
}

.form-modal > p {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
}

.form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-label:focus-within .icon-modal {
  fill: var(--accent-color);
}

.form-label .form-input {
  padding: 11px;
  padding-right: 12px;
  padding-left: 42px;
  color: #212121;
}

.form-label .form-input,
.form-label-comment .comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  cursor: pointer;
}

.content-label {
  padding-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  font-family: Roboto;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-label-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  font-family: Roboto;
  width: 100%;
}

.form-label-comment .comment {
  resize: none;
  /*width: 448px;*/
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.form-label:focus-within .form-input {
  border-color: var(--accent-color);
}

.form-label-comment:focus-within .comment {
  border-color: var(--accent-color);
}

.form-label-comment .comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-label-comment .comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-label-comment .comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-label-comment .comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-style: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.join {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.join p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-background);
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-list .item {
  width: 44px;
  height: 44px;
}

.join-list .item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--border-examples);
  background-color: var(--border-footer);
}

.join-link:hover, .join-link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: #ffffff;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  height: 500px;
  width: 448px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-background);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.container.projects {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-items + .filter-items {
  margin-left: 8px;
}

.filter-items .button {
  color: var(--primary-text-color);
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  outline: transparent;
  background: #f5f4fa;
  min-width: 73px;
  min-height: 38px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}

.filter-items .button .button:hover,
.filter-items .button .button:focus {
  color: var(--primary-background);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.content > .content-items {
  width: 370px;
  margin: 15px;
}

.content-items a {
  display: block;
  text-decoration: none;
}

.content-items a:hover, .content-items a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.shadow {
  margin: 0;
  padding: 20px 24px;
  background-color: #fff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.shadow .title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.shadow p {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
}

.content-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.content-overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-overlay > .description {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.content .link:hover .content-overlay::before,
.content .link:focus .content-overlay::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.content .link:hover .description,
.content .link:focus .description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team {
  background: var(--secondary-background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team.team-item {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*outline: 2px solid tomato;*/
}

.team > .team-img {
  padding-bottom: 30px;
  background: var(--primary-background);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.team .team-img:not(:last-child) {
  margin-right: 30px;
}

.team p {
  margin: 0;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}

.team .team-title {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.03em;
}

.team .team-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
}

.team .team-text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}

.team-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-network > .team-network-list {
  width: 44px;
  height: 44px;
}

.team-network > .team-network-list:not(:last-child) {
  margin-right: 10px;
}

.team-network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
}

.team-network-link:hover, .team-network-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscribe-container {
  margin-left: 94px;
  width: 570px;
  height: 86px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-container > p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--header-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: 16px;
  line-height: 1.25;
  letter-spacing: 00.03em;
}

.subscribe-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: 16px;
  line-height: 1.25;
  letter-spacing: 00.03em;
}

.subscribe-form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: 16px;
  line-height: 1.25;
  letter-spacing: 00.03em;
}

.subscribe-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: 16px;
  line-height: 1.25;
  letter-spacing: 00.03em;
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  margin-right: 0;
  background-color: var(--accent-color);
  font-family: Roboto;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.icon-subscribe {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */