.flex-info {
  display: flex;
}

/* section 1  Hero*/

.container.align-center {
  align-items: center;
  text-align: center;
}

/* Оформление модального окна в hero */

/* Оформление формы */

/* Чекбокс */

/* Кнопка Отправить*/

/* button */

/* section 2  Внимание к деталям*/

/* Чем мы занимаемся */

/* section 4  team */

/* Постоянные клиенты */

/* footer */

/* Присоединяйтесь */

/* Подписаться */

/* portfolio */
