.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  /*display: flex;*/
  align-items: baseline;
  justify-content: space-between;
  align-content: center;

  background-color: $header-footer-background;
}

.footer-address {
  &__address {
    margin-bottom: 9px;

    color: $primary-background;
    text-decoration: none;

    font-weight: 400;
    font-style: inherit;
  }

  &__logo {
    margin-bottom: 20px;

    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    text-decoration: none;
  }

  &__logo-text {
    color: var(--border-header);
  }
}

.footer-contact {
  &__list {
    @extend %list;
    width: 100%;
    /*display: flex;*/
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: $text-footer;
    text-decoration: none;

    font-weight: 400;
  }
}
