.clients__container {
  @extend%content;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  margin-top: 0px;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
.clients__list {
  @extend%list-style-reset;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    fill: $accent-color;
  }
}
