.container--header .info {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.info-item {
  display: flex;
  margin-left: auto;
}

.info .info-item:not(:last-child) {
  margin-right: 30px;
}

.info.list {
  display: flex;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.adress-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;

  color: var(--secondary-text-color);
  fill: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-link-icon {
  margin-right: 10px;
}

.adress-link-icon:hover,
.adress-link-icon:focus {
  fill: #2196f3;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
