.info {
  display: flex;
  margin-left: auto;
  list-style: none;

  & .info-item {
    display: flex;
    margin-left: auto;
  }

  & .info-item:not(:last-child) {
    margin-right: 30px;
  }
}

.info.list {
  display: flex;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.adress-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
  color: var(--secondary-text-color);
  fill: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.adress-link-icon {
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.site-nav .link {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav .link.current {
  position: relative;

  color: var(--accent-color);
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0px;
    content: '';

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
