.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $heder-footer-bg;
}

.address-footer__address {
  margin-bottom: 9px;

  color: $primary-bg;
  text-decoration: none;

  font-weight: 400;
  font-style: normal;
}

.contact-footer {
  &__list {
    @extend %list;
    display: block;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    font-weight: 400;
  }
}
