.footer__form-container {
  padding-top: 13px;
  margin-left: auto;
}
.footer__form {
  display: flex;
  align-items: flex-end;
}
.footer__form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__mail-text {
  display: block;
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;

  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer__form-button {
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;

  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $accent-color;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer__form-button-icon {
  margin-left: 10px;
}
