.page-header-logo {
  display: block;
  margin: 0;
  padding-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: #2196f3;
}

.logotip {
  color: var(--primary-text-color);
}
