.portfolio__container {
  @extend%content;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__title {
  @extend%hidden;
}
.portfolio__filter-list {
  @extend%list-style-reset;
  display: flex;
  justify-content: center;
}
.portfolio__filter-items:not(:last-child) {
  margin-right: 8px;
}
.portfolio__filter-link {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio__content {
  @extend%list-style-reset;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__content-item {
  width: calc((100% - 60px) / 3);
  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  &:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }
}
.portfolio__content-image {
  @extend%image-fix;
}
.portfolio__content-link {
  display: block;

  background: #ffffff;
  border: 1px solid #eeeeee;
  text-decoration: none;
  padding-bottom: 20px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__content-title {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;

  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__content-type {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 24px;

  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
.portfolio__content-overlay {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(33, 150, 243, 0.9);
    opacity: 0;

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }
  .portfolio__content-link:hover &::before,
  .portfolio__content-link:focus &::before {
    opacity: 1;
    transform: translateY(0);
  }
}
.portfolio__content-description {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  opacity: 0;

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  .portfolio__content-link:hover &,
  .portfolio__content-link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
