.card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
  //padding: 50px 0px 0px 0px;
}

.card-block a {
  display: block;
}

.card__li {
  width: 370px;
  margin: 15px;

  & a {
    display: block;
    text-decoration: none;
  }

  & a:hover,
  & a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: transparent;
  }
}

.overlay-block {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.overlay-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/*.overlay-link:hover .overlay__text::before,
.overlay-link:focus .overlay__text::before {
  opacity: 1;
  transform: translateY(0);
}*/

.overlay__style {
  position: absolute;
  margin-top: 0;
  margin-left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  //position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;

  font-size: 1.5em;
  letter-spacing: 0.03em;
  margin: 0px;
  color: $primary-background;
}

.shadow-box {
  margin: 0;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  background-color: #fff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.shadow__card {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-block img {
  display: block;
  min-width: 100%;
  height: auto;
}

.shadow__text {
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
