.team {
  margin-top: 94px;

  background: #757575;
}
.team__container {
  @extend%content;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team__list {
  @extend%list-style-reset;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.team__items {
  padding-bottom: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.team__items-image {
  @extend%image-fix;
}
.team__name {
  margin-top: 30px;
  margin-bottom: 0;

  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 0;

  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2x;
  text-align: center;
}
.team__network {
  @extend%list-style-reset;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team__network-list:not(:last-child) {
  margin-right: 10px;
}
.team__network-link {
  padding: 12px;

  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;

  fill: #afb1b8;

  transition-property: border-radius, background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $accent-color;
    fill: #ffffff;
  }
}
