body {
  color: var(--primary-text-color);
  background: var(--primary-background);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
header {
  display: block;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}
