$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-background: #ffffff;
$secondary-background: #f5f4fa;
$header-footer-background: #2f303a;
$border-header: #ececec;
$text-footer: rgba(255, 255, 255, 0.6);
$border-footer: rgba(255, 255, 255, 0.1);
$primary-fill-color: #afb1b8;
$footer-bg-color: #2f303a;
$secondary-grey-color: rgba(255, 255, 255, 0.4);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
