$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg: #ffffff;
$secondary-bg: #f5f4fa;
$heder-footer-bg: #2f303a;
$accent-color: #2196f3;
$time-line: cubic-bezier(0.4, 0, 0.2, 1);
$primary-fill-color: #afb1b8;
